<h1>Bienvenido {{first_name}} {{last_name}}</h1>

<h2>email: {{email}}</h2>
<h2>Edad: {{age}} años</h2>

<button id="logoutButton">Logout</button>
{{! <a href="/logout">Logout</a> }}

<script>
  document.getElementById("logoutButton").addEventListener("click", function() {
  fetch("/logout", { method: "GET", credentials: "same-origin"
  }).then(function() { window.location.href = "/login"; }); });
</script>